## PANDAS

Loading Data

In [1]:
import pandas as pd

In [2]:
# Reading a CSV File
pokemon_df = pd.read_csv('Pokemon.csv')
pokemon_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
# Get only few columns
# Top data
pokemon_df = pd.read_csv('Pokemon.csv',usecols=['Name','HP','Speed']).head()
pokemon_df

                    Name  HP  Speed
0              Bulbasaur  45     45
1                Ivysaur  60     60
2               Venusaur  80     80
3  VenusaurMega Venusaur  80     80
4             Charmander  39     65

In [4]:
# No header

# Read only the first n rows 
# use the nrows arguement

# Skip first m rows
# use the skiprows arguement
pokemon_v2_df = pd.read_csv('Pokemon v2.csv', header = None, names =['A','B','C','D','E','F','G','H','I','J','K'], skiprows = 251, nrows = 100)
pokemon_v2_df

,A,B,C,D,E,F,G,H,I,J,K
Donphan,Ground,NaN,500,90,120,120,60,60,50,2,False
Porygon2,Normal,NaN,515,85,80,90,105,95,60,2,False
Stantler,Normal,NaN,465,73,95,62,85,65,85,2,False
Smeargle,Normal,NaN,250,55,20,35,20,45,75,2,False
Tyrogue,Fighting,NaN,210,35,35,35,35,35,35,2,False
...,...,...,...,...,...,...,...,...,...,...,...
Swalot,Poison,NaN,467,100,73,83,73,83,55,3,False
Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False
Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False
SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
Wailmer,Water,NaN,400,130,70,35,70,35,60,3,False

In [5]:
# Reading Text file
# Tab Separated file
# Last data

pokemon_txt_df = pd.read_csv('Pokemon.txt', delimiter = '\t').tail()
pokemon_txt_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
# Reading Excel File
# Sample data

pokemon_excel_df = pd.read_excel('Pokemon.xlsx').sample()
pokemon_excel_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
251,Donphan,Ground,NaN,500,90,120,120,60,60,50,2,False

In [7]:
# Reading SQL File

!pip install pyodbc
import pyodbc

# Define the connection string
conn_str = 'DRIVER={SQL Server};SERVER=LAPTOP-7L8H9PB1\SAKET;DATABASE=Intellipat;UID=sa;PWD=3Treesk#'

# Establish a connection
conn = pyodbc.connect(conn_str)

# Define the SQL query to select all records from the Pokemon table
sql_query = 'SELECT * FROM Saket.Orders'

# Read the SQL query into a pandas DataFrame
df = pd.read_sql_query(sql_query, conn)

# Close the connection
conn.close()

df

# Now 'df' contains the data from the Pokemon table

Requirement already satisfied: pyodbc in c:\users\saket kumar\anaconda3\lib\site-packages (4.0.39)

   order_id  order_date  amount  customer_id
0         1  2023-08-01  100.50          101
1         2  2023-08-02   75.25       105593
2         3  2023-08-03  100.00        15293
3         4  2023-08-04   50.75       102433
4         5  2023-08-05  120.00       152593

Basic Data Inspection

In [8]:
pokemon_df = pd.read_csv('Pokemon.csv')

In [9]:
pokemon_df.shape

(800, 12)

In [10]:
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [11]:
pokemon_df.describe

<bound method NDFrame.describe of                       Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0                Bulbasaur    Grass  Poison    318  45      49       49
1                  Ivysaur    Grass  Poison    405  60      62       63
2                 Venusaur    Grass  Poison    525  80      82       83
3    VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4               Charmander     Fire     NaN    309  39      52       43
..                     ...      ...     ...    ...  ..     ...      ...
795                Diancie     Rock   Fairy    600  50     100      150
796    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]>

In [12]:
pokemon_df.describe(include = 'all')

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
count,800,800,414,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800
unique,800,18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,Bulbasaur,Water,Flying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
freq,1,112,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,735
mean,NaN,NaN,NaN,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,NaN
std,NaN,NaN,NaN,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,NaN
min,NaN,NaN,NaN,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,NaN
25%,NaN,NaN,NaN,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,NaN
50%,NaN,NaN,NaN,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,NaN
75%,NaN,NaN,NaN,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,NaN
max,NaN,NaN,NaN,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,NaN

In [13]:
pokemon_df.isna()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
pokemon_df.isnull().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [15]:
pokemon_df.columns.to_list()

['Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [16]:
pokemon_df.sample(frac=0.1)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
294,Lombre,Water,Grass,340,60,50,50,60,70,50,3,False
307,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
203,Skiploom,Grass,Flying,340,55,45,50,45,65,80,2,False
540,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
681,Mienshao,Fighting,NaN,510,65,125,60,95,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
510,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
83,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
556,Serperior,Grass,NaN,528,75,75,95,75,95,113,5,False
538,Mesprit,Psychic,NaN,580,80,105,105,105,105,80,4,True
184,Chinchou,Water,Electric,330,75,38,38,56,56,67,2,False

Column Manipulation

In [17]:
# Select columns
pokemon_df_selected_columns = pd.read_csv('Pokemon.csv',usecols=['Name','HP','Speed'])
pokemon_df_selected_columns

                      Name  HP  Speed
0                Bulbasaur  45     45
1                  Ivysaur  60     60
2                 Venusaur  80     80
3    VenusaurMega Venusaur  80     80
4               Charmander  39     65
..                     ...  ..    ...
795                Diancie  50     50
796    DiancieMega Diancie  50    110
797    HoopaHoopa Confined  80     70
798     HoopaHoopa Unbound  80     80
799              Volcanion  80     70

[800 rows x 3 columns]

In [18]:
# Drop columns
pokemon_df_with_dropped_columns = pokemon_df.drop(columns=['Speed','Attack'])
pokemon_df_with_dropped_columns
# pokemon_df.drop(columns=['Speed','Attack'], inplace=True) : makes change permanent

,Name,Type 1,Type 2,Total,HP,Defense,Sp. Atk,Sp. Def,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,65,65,1,False
1,Ivysaur,Grass,Poison,405,60,63,80,80,1,False
2,Venusaur,Grass,Poison,525,80,83,100,100,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,123,122,120,1,False
4,Charmander,Fire,NaN,309,39,43,60,50,1,False
...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,150,100,150,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,110,160,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,60,150,130,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,60,170,130,6,True
799,Volcanion,Fire,Water,600,80,120,130,90,6,True

In [19]:
reordered_pokemon_df = pokemon_df[[ 'Type 1', 'Type 2', 'Name', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']]
reordered_pokemon_df

,Type 1,Type 2,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Grass,Poison,Bulbasaur,318,45,49,49,65,65,45,1,False
1,Grass,Poison,Ivysaur,405,60,62,63,80,80,60,1,False
2,Grass,Poison,Venusaur,525,80,82,83,100,100,80,1,False
3,Grass,Poison,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,False
4,Fire,NaN,Charmander,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Rock,Fairy,Diancie,600,50,100,150,100,150,50,6,True
796,Rock,Fairy,DiancieMega Diancie,700,50,160,110,160,110,110,6,True
797,Psychic,Ghost,HoopaHoopa Confined,600,80,110,60,150,130,70,6,True
798,Psychic,Dark,HoopaHoopa Unbound,680,80,160,60,170,130,80,6,True
799,Fire,Water,Volcanion,600,80,110,120,130,90,70,6,True

In [20]:
# dataframe with no headers
pokemon_v2_df = pd.read_csv('Pokemon v2.csv', header = None).head()
print(pokemon_v2_df)

print('\n'+'*' * 30 +'\n')

new_names = []
for i in range(1,13):
    new_names.append('Column_' + str(i))

print(new_names)

print('\n'+'*' * 30 +'\n')

# Change all the columns to the new_names list values
pokemon_v2_df.columns = new_names
print((pokemon_v2_df.head()))

                      0      1       2    3   4    5    6    7    8   9   10  \
0              Bulbasaur  Grass  Poison  318  45   49   49   65   65  45   1
1                Ivysaur  Grass  Poison  405  60   62   63   80   80  60   1
2               Venusaur  Grass  Poison  525  80   82   83  100  100  80   1
3  VenusaurMega Venusaur  Grass  Poison  625  80  100  123  122  120  80   1
4             Charmander   Fire     NaN  309  39   52   43   60   50  65   1

      11
0  False
1  False
2  False
3  False
4  False

******************************

['Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5', 'Column_6', 'Column_7', 'Column_8', 'Column_9', 'Column_10', 'Column_11', 'Column_12']

******************************

                Column_1 Column_2 Column_3  Column_4  Column_5  Column_6  \
0              Bulbasaur    Grass   Poison       318        45        49
1                Ivysaur    Grass   Poison       405        60        62
2               Venusaur    Grass   Poison       525        80        82
3  VenusaurMega Venusaur    Grass   Poison       625        80       100
4             Charmander     Fire      NaN       309        39        52

   Column_7  Column_8  Column_9  Column_10  Column_11  Column_12
0        49        65        65         45          1      False
1        63        80        80         60          1      False
2        83       100       100         80          1      False
3       123       122       120         80          1      False
4        43        60        50         65          1      False

In [21]:
# renaming selected columns
col_dict = dict({'Column_1' : 'My Column'})
print(col_dict)

print('\n'+'*' * 30 +'\n')

pokemon_v2_df = pokemon_v2_df.rename(columns = col_dict)
print(pokemon_v2_df)
# pokemon_v2_df.rename(columns = col_dict1, inplace = True) 
# pokemon_v2_df.rename(columns={'Old_Name': 'New_Name'}, inplace=True)

{'Column_1': 'My Column'}

******************************

               My Column Column_2 Column_3  Column_4  Column_5  Column_6  \
0              Bulbasaur    Grass   Poison       318        45        49
1                Ivysaur    Grass   Poison       405        60        62
2               Venusaur    Grass   Poison       525        80        82
3  VenusaurMega Venusaur    Grass   Poison       625        80       100
4             Charmander     Fire      NaN       309        39        52

   Column_7  Column_8  Column_9  Column_10  Column_11  Column_12
0        49        65        65         45          1      False
1        63        80        80         60          1      False
2        83       100       100         80          1      False
3       123       122       120         80          1      False
4        43        60        50         65          1      False

In [22]:
# Columns count
num_columns = len(pokemon_df.columns)
num_columns

12

In [24]:
# Transpose table
reordered_pokemon_df.T

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
Type 1,Grass,Grass,Grass,Grass,Fire,Fire,Fire,Fire,Fire,Water,...,Flying,Flying,Fairy,Dark,Dragon,Rock,Rock,Psychic,Psychic,Fire
Type 2,Poison,Poison,Poison,Poison,NaN,NaN,Flying,Dragon,Flying,NaN,...,Dragon,Dragon,NaN,Flying,Ground,Fairy,Fairy,Ghost,Dark,Water
Name,Bulbasaur,Ivysaur,Venusaur,VenusaurMega Venusaur,Charmander,Charmeleon,Charizard,CharizardMega Charizard X,CharizardMega Charizard Y,Squirtle,...,Noibat,Noivern,Xerneas,Yveltal,Zygarde50% Forme,Diancie,DiancieMega Diancie,HoopaHoopa Confined,HoopaHoopa Unbound,Volcanion
Total,318,405,525,625,309,405,534,634,634,314,...,245,535,680,680,600,600,700,600,680,600
HP,45,60,80,80,39,58,78,78,78,44,...,40,85,126,126,108,50,50,80,80,80
Attack,49,62,82,100,52,64,84,130,104,48,...,30,70,131,131,100,100,160,110,160,110
Defense,49,63,83,123,43,58,78,111,78,65,...,35,80,95,95,121,150,110,60,60,120
Sp. Atk,65,80,100,122,60,80,109,130,159,50,...,45,97,131,131,81,100,160,150,170,130
Sp. Def,65,80,100,120,50,65,85,85,115,64,...,40,80,98,98,95,150,110,130,130,90
Speed,45,60,80,80,65,80,100,100,100,43,...,55,123,99,99,95,50,110,70,80,70
Generation,1,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
Legendary,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True

In [25]:
# Make a particular column as index
pokemon_df_name_index = pd.read_csv('Pokemon.csv', index_col = 'Name')
pokemon_df_name_index

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [27]:
pokemon_df_type_index = pokemon_df

In [28]:
# Reset index
pokemon_df_type_index = pokemon_df_type_index.reset_index()
pokemon_df_type_index
# pokemon_df_type_index.reset_index(inplace = True) : make change permanent
# pokemon_df_type_index.reset_index(drop = True) : to remove the current index column from table

,index,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [29]:
# Unique values in column
list(pokemon_df['Type 1'].unique())

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [30]:
# replace a particular value in a column by preferred value
pokemon_df['Type 1'] = pokemon_df['Type 1'].replace('Grass','Leaf')
pokemon_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Leaf,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Leaf,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Leaf,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Leaf,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [31]:
# lambda function in pandas
# df['Price']=df['Price'].apply(lambda  x : x.lstrip('$'))
# df['Installs']=df['Installs'].apply(lambda x : int(x.rstrip('+').replace(',',''))

In [32]:
# add a new column using list comprehension
# df['Type']=[1  if x=="Buyer" else 0     for x in df['Type']]

In [33]:
# Count particular column value
pokemon_df['Type 2'].value_counts(dropna = False, sort = False)

Poison       34
NaN         386
Flying       97
Dragon       18
Ground       35
Fairy        23
Grass        25
Fighting     26
Psychic      33
Steel        22
Ice          14
Rock         14
Dark         20
Water        14
Electric      6
Fire         12
Ghost        14
Bug           3
Normal        4
Name: Type 2, dtype: int64

In [34]:
# Percent Value count
pd.set_option("precision", 5)
pokemon_df['Type 1'].value_counts(normalize = True)

Water       0.14000
Normal      0.12250
Leaf        0.08750
Bug         0.08625
Psychic     0.07125
Fire        0.06500
Electric    0.05500
Rock        0.05500
Dragon      0.04000
Ground      0.04000
Ghost       0.04000
Dark        0.03875
Poison      0.03500
Steel       0.03375
Fighting    0.03375
Ice         0.03000
Fairy       0.02125
Flying      0.00500
Name: Type 1, dtype: float64

In [35]:
# Correlation between columns
correlation = pokemon_df['Attack'].corr(pokemon_df['Defense'])
correlation

0.43868705511848954

In [36]:
# Sort by column
pokemon_sorted_df = pokemon_df.sort_values(by = ['Generation', 'Name'], ascending = [False, True])
pokemon_sorted_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
750,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
768,Amaura,Rock,Ice,362,77,59,50,67,63,46,6,False
753,Aromatisse,Fairy,NaN,462,101,72,72,99,89,29,6,False
769,Aurorus,Rock,Ice,521,123,77,72,99,92,58,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...
76,Weepinbell,Leaf,Poison,390,65,90,50,85,45,55,1,False
118,Weezing,Poison,NaN,490,65,90,120,85,70,60,1,False
45,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
157,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
46,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False

In [37]:
# Add column
pokemon_df['Total'] = pokemon_df['Attack'] + pokemon_df['Defense']
pokemon_df.sort_values(by='Total', ascending=False)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
333,AggronMega Aggron,Steel,NaN,370,70,140,230,60,80,50,3,False
224,SteelixMega Steelix,Steel,Ground,355,75,125,230,55,95,30,2,False
424,GroudonPrimal Groudon,Ground,Fire,340,100,180,160,150,90,90,3,True
268,TyranitarMega Tyranitar,Rock,Dark,314,100,164,150,95,120,71,2,False
789,Avalugg,Ice,NaN,301,95,117,184,44,46,28,6,False
...,...,...,...,...,...,...,...,...,...,...,...,...
68,Abra,Psychic,NaN,35,25,20,15,105,55,90,1,False
381,Feebas,Water,NaN,35,20,15,20,10,55,80,3,False
261,Blissey,Normal,NaN,20,255,10,10,75,135,55,2,False
121,Chansey,Normal,NaN,10,250,5,5,35,105,50,1,False
488,Happiny,Normal,NaN,10,100,5,5,15,65,30,4,False

In [38]:
# Filter rows
Pokemon_Filtered_row = pokemon_df[(pokemon_df['Defense'] >= 190) & (pokemon_df['HP'] >= 70)]

Pokemon_Filtered_row

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
223,Steelix,Steel,Ground,285,75,85,200,55,65,30,2,False
224,SteelixMega Steelix,Steel,Ground,355,75,125,230,55,95,30,2,False
333,AggronMega Aggron,Steel,NaN,370,70,140,230,60,80,50,3,False
414,Regirock,Rock,NaN,300,80,100,200,50,100,50,3,True

In [39]:
# Grouping
pokemon_df.groupby(by = ['Generation']).mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
Generation,,,,,,,,
1,147.50000,65.81928,76.63855,70.86145,71.81928,69.09036,72.58434,0.03614
2,145.41509,71.20755,72.02830,73.38679,65.94340,73.90566,61.81132,0.04717
3,155.72500,66.54375,81.62500,74.10000,75.80625,71.22500,66.92500,0.11250
4,161.00000,73.08264,82.86777,78.13223,76.40496,77.19008,71.33884,0.10744
5,154.39394,71.78788,82.06667,72.32727,71.98788,68.73939,68.07879,0.09091
6,152.48780,68.26829,75.80488,76.68293,74.29268,74.89024,66.43902,0.09756

In [40]:
pokemon_df[['Generation', 'Type 1', 'HP', 'Attack']].groupby(by = ['Generation', 'Type 1']).sum()

                      HP  Attack
Generation Type 1
1          Bug       795    1070
           Dragon    193     282
           Electric  490     558
           Fairy     165     115
           Fighting  445     720
...                  ...     ...
6          Poison    115     135
           Psychic   370     414
           Rock      604     813
           Steel     281     470
           Water     288     340

[98 rows x 2 columns]

In [41]:
pokemon_df[pokemon_df[['Generation', 'Total']].groupby(by = ['Generation'])['Total'].rank(ascending = False) <= 10]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,CharizardMega Charizard X,Fire,Dragon,241,78,130,111,130,85,100,1,False
82,Golem,Rock,Ground,250,80,120,130,55,65,45,1,False
87,SlowbroMega Slowbro,Water,Psychic,255,95,75,180,130,80,30,1,False
98,Cloyster,Water,Ice,275,50,95,180,85,45,70,1,False
107,Kingler,Water,NaN,245,55,130,115,50,50,75,1,False
120,Rhydon,Ground,Rock,250,105,130,120,45,45,40,1,False
137,PinsirMega Pinsir,Bug,Flying,275,65,155,120,65,90,105,1,False
141,GyaradosMega Gyarados,Water,Dark,264,95,155,109,70,130,81,1,False
161,Dragonite,Dragon,Flying,229,91,134,95,100,100,80,1,False
163,MewtwoMega Mewtwo X,Psychic,Fighting,290,106,190,100,154,100,130,1,True
220,Forretress,Bug,Steel,230,75,90,140,60,60,40,2,False
223,Steelix,Steel,Ground,285,75,85,200,55,65,30,2,False
224,SteelixMega Steelix,Steel,Ground,355,75,125,230,55,95,30,2,False
228,Scizor,Bug,Steel,230,70,130,100,55,80,65,2,False
229,ScizorMega Scizor,Bug,Steel,290,70,150,140,65,100,75,2,False
230,Shuckle,Bug,Rock,240,20,10,230,10,230,5,2,False
232,HeracrossMega Heracross,Bug,Fighting,300,80,185,115,40,105,75,2,False
251,Donphan,Ground,NaN,240,90,120,120,60,60,50,2,False
267,Tyranitar,Rock,Dark,244,100,134,110,95,100,61,2,False
268,TyranitarMega Tyranitar,Rock,Dark,314,100,164,150,95,120,71,2,False
332,Aggron,Steel,Rock,290,70,110,180,60,60,50,3,False
333,AggronMega Aggron,Steel,NaN,370,70,140,230,60,80,50,3,False
409,SalamenceMega Salamence,Dragon,Flying,275,95,145,130,120,90,120,3,False
412,Metagross,Steel,Psychic,265,80,135,130,95,90,70,3,False
413,MetagrossMega Metagross,Steel,Psychic,295,80,145,150,105,110,110,3,False
414,Regirock,Rock,NaN,300,80,100,200,50,100,50,3,True
423,Groudon,Ground,NaN,290,100,150,140,100,90,90,3,True
424,GroudonPrimal Groudon,Ground,Fire,340,100,180,160,150,90,90,3,True
426,RayquazaMega Rayquaza,Dragon,Flying,280,105,180,100,180,100,115,3,True
494,GarchompMega Garchomp,Dragon,Ground,285,108,170,115,120,95,92,4,False
498,LucarioMega Lucario,Fighting,Steel,233,70,145,88,140,70,112,4,False
511,AbomasnowMega Abomasnow,Leaf,Ice,237,90,132,105,132,105,30,4,False
515,Rhyperior,Ground,Rock,270,115,140,130,55,55,40,4,False
521,Leafeon,Leaf,NaN,240,65,110,130,60,65,95,4,False
527,GalladeMega Gallade,Psychic,Fighting,260,68,165,95,65,115,110,4,False
529,Dusknoir,Ghost,NaN,235,45,100,135,65,135,45,4,False
540,Dialga,Steel,Dragon,240,100,120,120,150,100,90,4,True
543,Regigigas,Normal,NaN,270,110,160,110,80,110,100,4,True
552,Arceus,Normal,NaN,240,120,120,120,120,120,120,4,True
585,Gigalith,Rock,NaN,265,85,135,130,60,80,25,5,False
594,Conkeldurr,Fighting,NaN,235,105,140,95,55,65,45,5,False
626,Carracosta,Water,Rock,241,74,108,133,83,65,32,5,False
650,Escavalier,Bug,Steel,240,70,135,105,60,105,20,5,False
659,Ferrothorn,Leaf,Steel,225,74,94,131,54,116,20,5,False
673,Haxorus,Dragon,NaN,237,76,147,90,60,70,97,5,False
686,Bisharp,Dark,Steel,225,65,125,100,60,70,70,5,False
707,Zekrom,Dragon,Electric,270,100,150,120,120,100,90,5,True
709,LandorusTherian Forme,Ground,Flying,235,89,145,90,105,80,91,5,True
711,KyuremBlack Kyurem,Dragon,Ice,270,125,170,100,120,90,95,5,True
720,Chesnaught,Leaf,Fighting,229,88,107,122,74,75,64,6,False
749,Doublade,Steel,Ghost,260,59,110,150,45,49,35,6,False
767,Tyrantrum,Rock,Dragon,240,82,121,119,69,59,71,6,False
787,GourgeistSuper Size,Ghost,Grass,222,85,100,122,58,75,54,6,False
789,Avalugg,Ice,NaN,301,95,117,184,44,46,28,6,False
792,Xerneas,Fairy,NaN,226,126,131,95,131,98,99,6,True
793,Yveltal,Dark,Flying,226,126,131,95,131,98,99,6,True
795,Diancie,Rock,Fairy,250,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,270,50,160,110,160,110,110,6,True
799,Volcanion,Fire,Water,230,80,110,120,130,90,70,6,True

In [42]:
# Apply functions to columns
pokemon_df['Double Attack'] = pokemon_df['Attack'].apply(lambda x: x * 2)
pokemon_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack
0,Bulbasaur,Leaf,Poison,98,45,49,49,65,65,45,1,False,98
1,Ivysaur,Leaf,Poison,125,60,62,63,80,80,60,1,False,124
2,Venusaur,Leaf,Poison,165,80,82,83,100,100,80,1,False,164
3,VenusaurMega Venusaur,Leaf,Poison,223,80,100,123,122,120,80,1,False,200
4,Charmander,Fire,NaN,95,39,52,43,60,50,65,1,False,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,250,50,100,150,100,150,50,6,True,200
796,DiancieMega Diancie,Rock,Fairy,270,50,160,110,160,110,110,6,True,320
797,HoopaHoopa Confined,Psychic,Ghost,170,80,110,60,150,130,70,6,True,220
798,HoopaHoopa Unbound,Psychic,Dark,220,80,160,60,170,130,80,6,True,320
799,Volcanion,Fire,Water,230,80,110,120,130,90,70,6,True,220

In [43]:
# String methods

pokemon_df['Type 1'] = pokemon_df['Type 1'].str.upper()
pokemon_df['Type 2'] = pokemon_df['Type 2'].str.lower()

pokemon_df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack
0,Bulbasaur,LEAF,poison,98,45,49,49,65,65,45,1,False,98
1,Ivysaur,LEAF,poison,125,60,62,63,80,80,60,1,False,124
2,Venusaur,LEAF,poison,165,80,82,83,100,100,80,1,False,164
3,VenusaurMega Venusaur,LEAF,poison,223,80,100,123,122,120,80,1,False,200
4,Charmander,FIRE,NaN,95,39,52,43,60,50,65,1,False,104

In [44]:
pokemon_df[pokemon_df['Name'].str.startswith(('A', 'E', 'I', 'O', 'U'))]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack
1,Ivysaur,LEAF,poison,125,60,62,63,80,80,60,1,False,124
28,Ekans,POISON,NaN,104,35,60,44,40,54,55,1,False,120
29,Arbok,POISON,NaN,154,60,85,69,65,79,80,1,False,170
48,Oddish,LEAF,poison,105,45,50,55,75,65,30,1,False,100
64,Arcanine,FIRE,NaN,190,90,110,80,100,80,95,1,False,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,Aromatisse,FAIRY,NaN,144,101,72,72,99,89,29,6,False,144
756,Inkay,DARK,psychic,107,53,54,53,37,46,45,6,False,108
768,Amaura,ROCK,ice,109,77,59,50,67,63,46,6,False,118
769,Aurorus,ROCK,ice,149,123,77,72,99,92,58,6,False,154
789,Avalugg,ICE,NaN,301,95,117,184,44,46,28,6,False,234

In [45]:
# Binning
pokemon_df['Level'] = pd.cut(pokemon_df['Total'], bins=[0, 100, 200, 300, 400], labels=['Weak', 'Average', 'Good', 'Outstanding'])
pokemon_df.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
795,Diancie,ROCK,fairy,250,50,100,150,100,150,50,6,True,200,Good
796,DiancieMega Diancie,ROCK,fairy,270,50,160,110,160,110,110,6,True,320,Good
797,HoopaHoopa Confined,PSYCHIC,ghost,170,80,110,60,150,130,70,6,True,220,Average
798,HoopaHoopa Unbound,PSYCHIC,dark,220,80,160,60,170,130,80,6,True,320,Good
799,Volcanion,FIRE,water,230,80,110,120,130,90,70,6,True,220,Good

In [46]:
# Convert Data Types

pokemon_df['Speed'] = pokemon_df['Speed'].astype(float)

In [47]:
pokemon_df[['Sp. Atk', 'HP', 'Speed']].agg(['min','max','sum', 'mean', 'median','std','var','nunique','size'])

             Sp. Atk           HP        Speed
min         10.00000      1.00000      5.00000
max        194.00000    255.00000    180.00000
sum      58256.00000  55407.00000  54622.00000
mean        72.82000     69.25875     68.27750
median      65.00000     65.00000     65.00000
std         32.72229     25.53467     29.06047
var       1070.74854    652.01932    844.51113
nunique    105.00000     94.00000    108.00000
size       800.00000    800.00000    800.00000

In [48]:
# Lambda function in column
pokemon_df['Speed'].agg(lambda x: x.max() - x.min())

175.0

In [49]:
# Cumulative sum
pokemon_df['Speed'].agg('cumsum')

0         45.0
1        105.0
2        185.0
3        265.0
4        330.0
        ...
795    54292.0
796    54402.0
797    54472.0
798    54552.0
799    54622.0
Name: Speed, Length: 800, dtype: float64

Row manipulations

In [50]:
named_pokemon = pokemon_df.set_index('Name')
named_pokemon

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
Name,,,,,,,,,,,,,
Bulbasaur,LEAF,poison,98,45,49,49,65,65,45.0,1,False,98,Weak
Ivysaur,LEAF,poison,125,60,62,63,80,80,60.0,1,False,124,Average
Venusaur,LEAF,poison,165,80,82,83,100,100,80.0,1,False,164,Average
VenusaurMega Venusaur,LEAF,poison,223,80,100,123,122,120,80.0,1,False,200,Good
Charmander,FIRE,NaN,95,39,52,43,60,50,65.0,1,False,104,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,ROCK,fairy,250,50,100,150,100,150,50.0,6,True,200,Good
DiancieMega Diancie,ROCK,fairy,270,50,160,110,160,110,110.0,6,True,320,Good
HoopaHoopa Confined,PSYCHIC,ghost,170,80,110,60,150,130,70.0,6,True,220,Average
HoopaHoopa Unbound,PSYCHIC,dark,220,80,160,60,170,130,80.0,6,True,320,Good
Volcanion,FIRE,water,230,80,110,120,130,90,70.0,6,True,220,Good

In [51]:
#  .loc() - row labels, column label
loc_df = named_pokemon.loc['Bulbasaur': 'Volbeat', 'Type 1' : 'Defense']
loc_df

# type1_index.loc['Fire']

                           Type 1  Type 2  Total  HP  Attack  Defense
Name
Bulbasaur                    LEAF  poison     98  45      49       49
Ivysaur                      LEAF  poison    125  60      62       63
Venusaur                     LEAF  poison    165  80      82       83
VenusaurMega Venusaur        LEAF  poison    223  80     100      123
Charmander                   FIRE     NaN     95  39      52       43
...                           ...     ...    ...  ..     ...      ...
Manectric                ELECTRIC     NaN    135  70      75       60
ManectricMega Manectric  ELECTRIC     NaN    155  70      75       80
Plusle                   ELECTRIC     NaN     90  60      50       40
Minun                    ELECTRIC     NaN     90  60      40       50
Volbeat                       BUG     NaN    128  65      73       55

[343 rows x 6 columns]

In [52]:
#  .iloc() - row index, column index
iloc_df = named_pokemon.iloc[50:63, 2:7]
iloc_df

           Total  HP  Attack  Defense  Sp. Atk
Name
Vileplume    165  75      80       85      110
Paras        125  35      70       55       45
Parasect     175  60      95       80       60
Venonat      105  60      55       50       40
Venomoth     125  70      65       60       90
Diglett       80  10      55       25       35
Dugtrio      130  35      80       50       50
Meowth        80  40      45       35       40
Persian      130  65      70       60       65
Psyduck      100  50      52       48       65
Golduck      160  80      82       78       95
Mankey       115  40      80       35       35
Primeape     165  65     105       60       60

In [53]:
#  .iloc() - row index, column index
iloc_df = named_pokemon.iloc[[50,63], [3,5,7]]
iloc_df

           HP  Defense  Sp. Def
Name
Vileplume  75       85       90
Growlithe  55       45       50

In [54]:
# Add new row
new_row = {'Name': 'John', 'Type 1': 'Water', 'Type 2': 'Air'}
pokemon_df = pokemon_df.append(new_row, ignore_index=True)
pokemon_df.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,HoopaHoopa Confined,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
798,HoopaHoopa Unbound,PSYCHIC,dark,220.0,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0,320.0,Good
799,Volcanion,FIRE,water,230.0,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0,220.0,Good
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Drop rows
pokemon_df = pokemon_df.drop(798)  # Drop row with label like 'John'
pokemon_df = pokemon_df.drop(index=799) 

pokemon_df.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,HoopaHoopa Confined,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# Changing value

pokemon_df.loc[797, 'Name'] = 'Berlin'
pokemon_df.tail()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,Berlin,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
pokemon_df['Speed'].min()

5.0

In [58]:
pokemon_df['Speed'].max()

180.0

In [60]:
pokemon_df.sum()

C:\Users\SAKETK~1\AppData\Local\Temp/ipykernel_33652/246344487.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon_df.sum()

Name             BulbasaurIvysaurVenusaurVenusaurMega VenusaurC...
Type 1           LEAFLEAFLEAFLEAFFIREFIREFIREFIREFIREWATERWATER...
Total                                                     121825.0
HP                                                         55247.0
Attack                                                     62931.0
Defense                                                    58894.0
Sp. Atk                                                    57956.0
Sp. Def                                                    57302.0
Speed                                                      54472.0
Generation                                                  2647.0
Legendary                                                     63.0
Double Attack                                             125862.0
dtype: object

In [61]:
pokemon_df.mean()
# pokemon_df[(pokemon_df['Type 1'] == 'Water' ) & (pokemon_df['Legendary'] == True)]['Speed'].mean()

C:\Users\SAKETK~1\AppData\Local\Temp/ipykernel_33652/926103435.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon_df.mean()

Total            152.66291
HP                69.23183
Attack            78.86090
Defense           73.80201
Sp. Atk           72.62657
Sp. Def           71.80702
Speed             68.26065
Generation         3.31704
Legendary          0.07895
Double Attack    157.72180
dtype: float64

In [62]:
pokemon_df['Speed'].median()

65.0

In [63]:
pokemon_df['Speed'].mode()

0    50.0
dtype: float64

In [64]:
pokemon_df['Speed'].std()

29.093881364034832

In [65]:
pokemon_df['Speed'].var()

846.4539328245332

In [66]:
pokemon_df['Speed'].agg('kurt')

-0.241403797839447

In [67]:
pokemon_df['Speed'].agg('skew')

0.35925819103953316

In [68]:
pokemon_df['Speed'].agg('mad')

23.951168648438138

In [69]:
pokemon_df['Attack'].quantile([0.25,0.75])

0.25     55.0
0.75    100.0
Name: Attack, dtype: float64

In [70]:
pokemon_df['Speed'].product()

inf

In [71]:
pokemon_df['Attack'].count()

798

In [72]:
pokemon_df['Speed'].cov(pokemon_df['HP'])

130.71114108986393

In [73]:
pokemon_df['Speed'].corr(pokemon_df['HP'])

0.17576521237096565

Missing values

In [76]:
# Drop rows with missing any missing values
pokemon_df.dropna()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
0,Bulbasaur,LEAF,poison,98.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0,98.0,Weak
1,Ivysaur,LEAF,poison,125.0,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0,124.0,Average
2,Venusaur,LEAF,poison,165.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0,164.0,Average
3,VenusaurMega Venusaur,LEAF,poison,223.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0,200.0,Good
6,Charizard,FIRE,flying,162.0,78.0,84.0,78.0,109.0,85.0,100.0,1.0,0.0,168.0,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,Yveltal,DARK,flying,226.0,126.0,131.0,95.0,131.0,98.0,99.0,6.0,1.0,262.0,Good
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,Berlin,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average

In [77]:
# drop row when Type 2 is not available
pokemon_df.dropna(subset=['Type 2'])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
0,Bulbasaur,LEAF,poison,98.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0,98.0,Weak
1,Ivysaur,LEAF,poison,125.0,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0,124.0,Average
2,Venusaur,LEAF,poison,165.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0,164.0,Average
3,VenusaurMega Venusaur,LEAF,poison,223.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0,200.0,Good
6,Charizard,FIRE,flying,162.0,78.0,84.0,78.0,109.0,85.0,100.0,1.0,0.0,168.0,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,Berlin,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
pokemon_df.dropna(axis=1,how='all')

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
0,Bulbasaur,LEAF,poison,98.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0,98.0,Weak
1,Ivysaur,LEAF,poison,125.0,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0,124.0,Average
2,Venusaur,LEAF,poison,165.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0,164.0,Average
3,VenusaurMega Venusaur,LEAF,poison,223.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0,200.0,Good
4,Charmander,FIRE,NaN,95.0,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0,104.0,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,Berlin,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# if rows are duplicate drop other except first
pokemon_df.drop_duplicates()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
0,Bulbasaur,LEAF,poison,98.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0,98.0,Weak
1,Ivysaur,LEAF,poison,125.0,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0,124.0,Average
2,Venusaur,LEAF,poison,165.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0,164.0,Average
3,VenusaurMega Venusaur,LEAF,poison,223.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0,200.0,Good
4,Charmander,FIRE,NaN,95.0,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0,104.0,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,Berlin,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# Fill a value
pokemon_df['Type 2'].fillna('Missing').value_counts(dropna = False)

Missing     386
flying       97
ground       35
poison       34
psychic      33
fighting     26
grass        25
fairy        23
steel        22
dark         19
dragon       18
ghost        14
ice          14
rock         14
water        13
fire         12
electric      6
normal        4
bug           3
Air           1
Name: Type 2, dtype: int64

In [81]:
# Fill a value forward fill
pokemon_df['Type 2'].fillna(method = 'ffill').value_counts(dropna = False)

flying      177
fighting     78
psychic      77
ground       72
poison       52
fairy        42
steel        41
dragon       36
grass        34
rock         32
dark         28
ice          27
fire         24
ghost        24
water        21
bug          12
electric     11
normal       10
Air           1
Name: Type 2, dtype: int64

In [82]:
# Fill a value backward fill
pokemon_df['Type 2'].fillna(method = 'bfill').value_counts(dropna = False)

flying      215
ground       75
psychic      74
poison       56
fighting     51
fairy        40
dark         38
dragon       35
steel        32
grass        31
rock         31
water        27
ghost        25
fire         24
ice          18
electric     15
normal        6
bug           5
Air           1
Name: Type 2, dtype: int64

In [83]:
# Fill mean, median and mode values in missing place

x=pokemon_df['Type 2'].mode()
pokemon_df['Type 2'].fillna(x,inplace=True)
pokemon_df


# x=df['Age'].mean()

# df['Age'].fillna(x,inplace=True)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Double Attack,Level
0,Bulbasaur,LEAF,poison,98.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0,98.0,Weak
1,Ivysaur,LEAF,poison,125.0,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0,124.0,Average
2,Venusaur,LEAF,poison,165.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0,164.0,Average
3,VenusaurMega Venusaur,LEAF,poison,223.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0,200.0,Good
4,Charmander,FIRE,NaN,95.0,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0,104.0,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,Zygarde50% Forme,DRAGON,ground,221.0,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0,200.0,Good
795,Diancie,ROCK,fairy,250.0,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0,200.0,Good
796,DiancieMega Diancie,ROCK,fairy,270.0,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0,320.0,Good
797,Berlin,PSYCHIC,ghost,170.0,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0,220.0,Average
800,John,Water,Air,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Hot Deck Imputation
import random

def hot_deck_imputation(row):
    if pd.isnull(row['Type 2']):
        similar_rows = pokemon_df[pokemon_df['Type 2'].notnull()]
        random_similar_row = similar_rows.sample(1)
        return random_similar_row['Type 2'].values[0]
    else:
        return row['Type 2']

pokemon_df['Type 2'] = pokemon_df.apply(hot_deck_imputation, axis=1)
pokemon_df['Type 2'].value_counts()

flying      184
poison       67
psychic      60
ground       60
grass        53
fighting     53
steel        47
fairy        42
ice          34
dragon       33
dark         33
ghost        31
rock         27
water        25
fire         23
electric     11
normal        9
bug           6
Air           1
Name: Type 2, dtype: int64

Tables

In [86]:
# Pivot table
pd.pivot_table(data = pokemon_df, index = ['Generation', 'Type 1'], values = ['HP', 'Attack'], aggfunc = ['sum', 'count'])

                        sum         count
                     Attack     HP Attack  HP
Generation Type 1
1.0        BUG       1070.0  795.0     14  14
           DRAGON     282.0  193.0      3   3
           ELECTRIC   558.0  490.0      9   9
           FAIRY      115.0  165.0      2   2
           FIGHTING   720.0  445.0      7   7
...                     ...    ...    ...  ..
6.0        POISON     135.0  115.0      2   2
           PSYCHIC    254.0  290.0      4   4
           ROCK       813.0  604.0      9   9
           STEEL      470.0  281.0      5   5
           WATER      340.0  288.0      5   5

[98 rows x 4 columns]

In [87]:
# Cross tab
pd.crosstab(index = pokemon_df['Generation'], columns = pokemon_df['Legendary'], values = pokemon_df['HP'], aggfunc = 'mean')

Legendary        0.0        1.0
Generation
1.0         64.61250   98.00000
2.0         69.61386  103.40000
3.0         64.62676   81.66667
4.0         69.74074  100.84615
5.0         69.35333   96.13333
6.0         66.18919   90.00000

In [88]:
# Creating table based on conditions
cols_to_keep = ['Name', 'Type 1', 'Total', 'HP']
rel_df = pokemon_df[cols_to_keep]
rel_df

two_condition_df = rel_df[(rel_df['Type 1'] == 'Dark') & (rel_df['Total'] > 500)]
two_condition_df

Empty DataFrame
Columns: [Name, Type 1, Total, HP]
Index: []

In [89]:
# Melt the DataFrame
data = {'Name': ['Michael', 'Emily', 'William', 'Sophia', 'Benjamin', 'Olivia', 'James'],
        'Math': [90, 85, 95, 65, 3, 95, 65],
        'Science': [80, 75, 90, 85, 75, 65, 7]}

df = pd.DataFrame(data)
print(df)
print('\n')

# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')

print(melted_df)

       Name  Math  Science
0   Michael    90       80
1     Emily    85       75
2   William    95       90
3    Sophia    65       85
4  Benjamin     3       75
5    Olivia    95       65
6     James    65        7


        Name  Subject  Score
0    Michael     Math     90
1      Emily     Math     85
2    William     Math     95
3     Sophia     Math     65
4   Benjamin     Math      3
5     Olivia     Math     95
6      James     Math     65
7    Michael  Science     80
8      Emily  Science     75
9    William  Science     90
10    Sophia  Science     85
11  Benjamin  Science     75
12    Olivia  Science     65
13     James  Science      7

## Handling outliers

In [90]:
# Z score
from scipy import stats

z_scores_math = stats.zscore(df['Math'])
z_scores_science = stats.zscore(df['Science'])

outliers_math = (z_scores_math > 2) | (z_scores_math < -2)
outliers_science = (z_scores_science > 2) | (z_scores_science < -2)

print(outliers_math)
print(outliers_science)

rows_to_remove = outliers_math | outliers_science

df_cleaned = df[~rows_to_remove]

print('\n', df_cleaned)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
Name: Math, dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: Science, dtype: bool

       Name  Math  Science
0  Michael    90       80
1    Emily    85       75
2  William    95       90
3   Sophia    65       85
5   Olivia    95       65

In [91]:
# IQR

Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = ((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR)))

# Remove outliers
df_iqr_cleaned = df[~outliers.any(axis=1)]

print(df_iqr_cleaned)

      Name  Math  Science
0  Michael    90       80
1    Emily    85       75
2  William    95       90
3   Sophia    65       85
5   Olivia    95       65

C:\Users\SAKETK~1\AppData\Local\Temp/ipykernel_33652/989216707.py:8: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR)))

In [92]:
# Capping and flooring

lower_threshold = 10  # Example threshold, you may choose based on your data
upper_threshold = 100

# Select numeric columns for capping and flooring
numeric_columns = df.select_dtypes(include=['number'])

# Cap and floor the data
df_capped_floored = numeric_columns.clip(lower=lower_threshold, upper=upper_threshold)

# Combine with non-numeric columns
df_cleaned = pd.concat([df['Name'], df_capped_floored], axis=1)

print(df_cleaned)

       Name  Math  Science
0   Michael    90       80
1     Emily    85       75
2   William    95       90
3    Sophia    65       85
4  Benjamin    10       75
5    Olivia    95       65
6     James    65       10

In [93]:
# winsorizing: Replace the extreme values with values closer to the mean or median
from scipy.stats.mstats import winsorize

# Apply winsorizing to numeric columns
numeric_columns = df.select_dtypes(include=['number'])
winsorized_data = numeric_columns.apply(lambda x: winsorize(x, limits=[0.05, 0.05]))

# Create a DataFrame with winsorized values
df_winsorized = pd.concat([df['Name'], winsorized_data], axis=1)

print(df_winsorized)

       Name  Math  Science
0   Michael    90       80
1     Emily    85       75
2   William    95       90
3    Sophia    65       85
4  Benjamin     3       75
5    Olivia    95       65
6     James    65        7

In [94]:
# Transformation

numeric_columns = df.select_dtypes(include=['number'])
transformed_data = np.log(numeric_columns)

# Create a DataFrame with transformed values
df_transformed = pd.concat([df['Name'], transformed_data], axis=1)

print(df_transformed)

       Name     Math  Science
0   Michael  4.49981  4.38203
1     Emily  4.44265  4.31749
2   William  4.55388  4.49981
3    Sophia  4.17439  4.44265
4  Benjamin  1.09861  4.31749
5    Olivia  4.55388  4.17439
6     James  4.17439  1.94591